.Login-component {
  background: url(../images/1.jpg) ;
  display: flex;
  flex-direction:'row';
  align-items: 'center';
  justify-content: 'center';
  padding-left: 35%;
  background-size: auto;





}